// color
$dark-gray: #2a2a2a;
$normal-gray: #afb1bd;
$light-gray: #f0f0f5;
$form-label-color: #808080;
$form-placeholder-color: #999999;
$form-input-border-color: #4a4a4a;
$btn-control-border-color: #e6e6eb;
$btn-control-prev-color: #ffffff;
$btn-control-next-color: #f67599;
$footer-bg: #e5e5e5;
$nav-divider-color: rgba(42, 42, 42, 0.1);
