/* base css */
$body-bg: #ffffff;
$body-color: #2a2a2a;
$white: #ffffff;
$black: #000000;
$main-font: 'Noto Sans TC';
$inter-font: 'Inter';
$nunito-sans-font: 'Nunito Sans';

/* 設定 margin 與 padding */
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);
@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 0.75,
  ),
  4: $spacer,
  5: (
    $spacer * 1.25,
  ),
  6: (
    $spacer * 1.5,
  ),
  7: (
    $spacer * 1.75,
  ),
  8: (
    $spacer * 2,
  ),
);
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

/* 設定 html、body、display */
html {
  font-family: $main-font, sans-serif;
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
  background: $body-bg;
  color: $body-color;
}
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}

/* 設定 flex、alignment 與 cursor */
.flex-column {
  flex-direction: column;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.cursor-pointer {
  cursor: pointer;
}

@mixin font-setting(
  $size: 1rem,
  $weight: normal,
  $color: $body-color,
  $family: $main-font
) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: $family;
}

%position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%input-style {
  padding: 8px 12px;
  border: 1px solid $form-input-border-color;
  border-radius: 4px;
  line-height: 16px;
  background-color: transparent;
  @include font-setting(12px, normal);
  &::placeholder {
    color: $form-placeholder-color;
  }
}
